{% extends "base.html" %}
{% load wagtailcore_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block content %}
    {% for block in page.body %}
        {% if block.block_type == 'contact_form' %}
            {% include_block block with contact_form=contact_form %}
        {% else %}
            {% include_block block %}
        {% endif %}
    {% endfor %}
{% endblock content %}
