{% extends 'wagtailadmin/bulk_actions/confirmation/base.html' %}
{% load i18n wagtailadmin_tags %}

{% block header %}
    {% trans "Одобрить" as action_str %}
    {% include "wagtailadmin/shared/header.html" with title=action_str subtitle=model_opts.verbose_name_plural|capfirst icon=header_icon only %}
{% endblock header %}

{% block items_with_access %}
    <p>{% trans "Вы уверены, что хотите одобрить выбранные отзывы?" %}</p>
    <ul>
        {% for item in items %}
            <li>{{ item.item }}</li>
        {% endfor %}
    </ul>
{% endblock items_with_access %}

{% block form_section %}
    {% trans 'Да, одобрить' as action_button_text %}
    {% trans "Нет, не одобрять" as no_action_button_text %}
    {% include 'wagtailadmin/bulk_actions/confirmation/form.html' %}
{% endblock form_section %}
